
.vs/UniGames/FileContentIndex/0307d6c6-d340-4481-a2fe-5db48263404b.vsidx
.vs/UniGames/FileContentIndex/72fd9715-f7b4-48ce-9f17-cd6aedcb7774.vsidx
.vs/UniGames/FileContentIndex/a045af79-f8e5-40cc-a267-e8a2b04d5299.vsidx
.vs/UniGames/FileContentIndex/ad917e9c-c2f5-4e29-9ad9-51755a17ecee.vsidx
UniGames.Api/obj/Debug/net6.0/UniGames.Api.csproj.AssemblyReference.cache
.vs/UniGames/FileContentIndex/e5cbe21c-6f84-440e-a766-d4ced1044c91.vsidx
